<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Assembly Bench</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Old just for reference 
        <li><a (click)="onSelect('bench')">Bench</a></li>
        <li><a (click)="onSelect('parts')">Parts</a></li> -->
        <li routerLinkActive="active"><a routerLink="/bench">Bench</a></li>
        <li routerLinkActive="active"><a routerLink="/parts">Parts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle">Add<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>SaveData</a></li>
            <li><a>GetData</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>