<!-- Old just for reference 
<a class="list-group-item clearfix" (click)="onSelected()" *ngIf="personalComputer"> -->
<a [routerLink]="[index]" class="list-group-item clearfix" *ngIf="personalComputer" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{personalComputer.name}}</h4>
    <p class="list-group-item-text">CPU: {{personalComputer.cpu}}</p>
    <p class="list-group-item-text">GPU: {{personalComputer.gpu}}</p>
    <p class="list-group-item-text">HDD: {{personalComputer.hdd}}</p>
    <p class="list-group-item-text">RAM: {{personalComputer.ram}}</p>
  </div>
  <span class="pull-right">
    <img [src]="personalComputer.imagePath" alt="pc-image" class="img-responsive" style="max-height: 150px;">
  </span>
</a>