<div class="row">
  <div class="col-xs-12">
    <img [src]="pc.imagePath" alt="pc-image" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{pc.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Mannage Pc <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Parts</a></li>
        <li><a href="#">Edit Pc</a></li>
        <li><a href="#">Delete Pc</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Parts
  </div>
</div>