<div class="row">
  <div class="col-xs-12" *ngIf="pc" >
    <img [src]="pc.imagePath" alt="pc-image" class="img-responsive" style="max-width: 250px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="pc">
    <h2>{{pc.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Mannage Pc <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Parts</a></li>
        <li><a href="#">Edit Pc</a></li>
        <li><a href="#">Delete Pc</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="pc">
    <p>{{pc.cpu}}</p>
    <p>{{pc.gpu}}</p>
    <p>{{pc.hdd}}</p>
    <p>{{pc.ram}}</p>
  </div>
</div>